<html ng-app="tasksList">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

    <body ng-controller="TaskListController as tasksCtrl">
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">Tasks to Do</div>
                <!-- List group -->
                <ol id="todo"  class="list-group">
                    <li ng-hide="task.complete" ng-repeat="task in tasksCtrl.taskList | orderBy:'-dueDate'"
                                                ng-click="tasksCtrl.setSelectedItem($index)">
                        <input type="checkbox" ng-model="task.complete">
                        <b>{{task.name}}</b> {{task.assignee}}: {{task.description}} - {{task.dueDate | date: 'dd/MM/yyyy @ h:mma'}}
                    </li>
                </ol>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Complete Tasks</div>
                <!-- List group -->
                <ol id="complete"  class="list-group">
                    <li ng-show="task.complete" ng-repeat="task in tasksCtrl.taskList | orderBy:'-dueDate'"
                                                ng-click="tasksCtrl.setSelectedItem($index)">
                        <input type="checkbox" ng-model="task.complete">
                        <b>{{task.name}}</b> {{task.assignee}}: {{task.description}} - {{task.dueDate | date: 'dd/MM/yyyy @ h:mma'}}
                    </li>
                </ol>
            </div>
        </div>
        <div ng-show="isEditTaskShown">
            <div>
                <button type="button" class="btn btn-default" ng-click="tasksCtrl.saveChangesOfTask()">Save Changes</button>
            </div>
            <div>
                <h4>Edit a Task</h4>
                <fieldset class="form-group">
                    <input ng-model="tasksCtrl.selectedTask.name" class="form-control"
                           placeholder="Name" title="Name"/>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="tasksCtrl.selectedTask.assignee" class="form-control"
                           placeholder="assignee" title="assignee"/>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="tasksCtrl.selectedTask.description" class="form-control"
                           placeholder="description" title="description" />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="tasksCtrl.selectedTask.date" class="form-control"
                           placeholder="date" title="date" />
                </fieldset>
            </div>
        </div>


        <form name="addTaskForm" ng-controller="AddTaskController as addTaskListCtrl"
                                 ng-submit="addTaskListCtrl.addTask()">
            <div>
                <button type="button" class="btn btn-default" ng-click="isAddTaskShown=!isAddTaskShown">Add Task</button>
            </div>
            <div ng-show="isAddTaskShown">
                <h4>Submit a Task</h4>
                <fieldset class="form-group">
                    <input ng-model="addTaskListCtrl.task.name" class="form-control"
                           placeholder="Name" title="Name"/>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="addTaskListCtrl.task.assignee" class="form-control"
                           placeholder="assignee" title="assignee"/>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="addTaskListCtrl.task.description" class="form-control"
                           placeholder="description" title="description" />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="addTaskListCtrl.task.date" class="form-control"
                           placeholder="date" title="date" />
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit Task" />
                </fieldset>
            </div>
        </form>

    <!-- Scripts and Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="application/json" src="app/data/assignments.json"></script>
    <script type="text/javascript" src="app/services/dataService.js"></script>
    <script type="text/javascript" src="app/controllers/taskListController.js"></script>
    <script type="text/javascript" src="app/controllers/addTaskController.js"></script>

    </body>
</html>